{% load static %} {% block body %} {% include 'admin_navigation.html' %}
<h2 style="padding-left: 40%">Available Jobs</h2>
<hr />
<div class="container">
  <table class="table table-hover shadow-lg" id="example">
    <thead>
      <tr style="background-color: #00492d; color: aliceblue">
        <th>Serial No.</th>
        <th>Title</th>
        <th>Salary</th>
        <th>Location</th>
        <th>Skills</th>
        <th>Image</th>
        <!-- <th>action</th> -->
      </tr>
    </thead>

    <tbody>
      {% for i in data %}
      <tr style="background-color: #ffffff">
        <td>{{forloop.counter}}</td>
        <td>{{i.tittle}}</td>
        <td>{{i.salary}}</td>
        <td>{{i.location}}</td>
        <td>{{i.skills}}</td>
        <td>
            <img src="{{i.image.url}}"
              style="width: 70px; height: 70px; border-radius: 50%"
            />
          </td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
{% include 'footer.html' %} {% endblock %}
